# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Kaggle credentials & keys
kaggle.json
.kaggle/
*.key
*.pem
*.env

# VS Code / IDE configs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini
